body{
	background-color:#FFFFFF;
	color: rgba(231, 234, 185, 0.91);
	font-size: 16px;
	}
	#naval{
		background-color: black;
		color:white;
		border-radius:0px;
		border: 0;
	}
	#naval1{
		color: white;
		 height: 2em;
        padding: 0px 15px;
       margin-top: -10px;
        float: left;
	}
h2{
	
	color: black
}


#defn1{
	color: #FFFFFF;
	margin-top: 25px;
	padding-left: 20px;
	padding-right:20px;
	margin-right: 10%;
		margin-left:10%; 
	background-color: #ff0000;
	padding-bottom: 20px;
	font-size: 1em;
	font-family: sans-serif serif;
}
#defn2{
	color: #FFFFFF;
	margin-top: 25px;
	background-color: #00ff00;
	padding-bottom: 25px;
	margin-right: 10%;
		margin-left:10%; 
	padding-left: 20px;
	padding-right:20px;
	font-size: 1em;
	font-family: sans-serif serif;
}
#defn3{
	color: #FFFFFF;
	margin-top: 25px;
	padding-left: 20px;
	padding-right:20px;
	margin-right: 10%;
		margin-left:10%; 
	background-color: #0000ff;
	padding-bottom: 20px;
	font-size: 1em;
	font-family: sans-serif serif;
}
h3{
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 2em;
}

#navie{
 		margin-left:5px;
 		margin-right:5px;
 		text-align: center;
 		background-color: grey ;
 		font-size: 1em;
 	}
.navbar-default .navbar-nav>li>a {
	 font-size: bold;
	 color: rgba(158, 255, 237, 0.89);
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
}
@media(min-width: 1200px){
	

}

@media(min-width: 992px) and (max-width: 1199px) {
	

}

@media (min-width: 768) and (max-width: 991px) {
	


}

 @media(max-width: 767px) {
 	#navie{
 		text-align: center;
 		color: red;
 		font-size: bold;
 	}
 	li a:hover{
 		color: red;
 	}


}